*{margin: 0;
}

header{background-color: lightblue;
    height: 150px;
    display: flex;
}

body{text-align: center;
}

nav{margin: auto;
    display: flex;
    flex-direction: column;
}

h1{font-size: 45px;
}

h2{font-size: 30px;
    padding: 20px;
    font-family: cursive;
}

a{color: black;
    text-decoration: none;   
}

nav div a{font-size: 20px;
}

a:hover{color: orange;
}

nav div a{margin: 25px;
}


section{display: flex;
}

.articles_index{width: 70%;
}

.category{margin: 10px auto;
    border-left: 1px solid black;
}

.category div, .articles_index div, .articles div{padding: 25px;
}

.form_message{font-size: 1.2em;
    padding-top: 15px;
}

#subscribe_form{display: flex;
    flex-direction: column;
    width: 15%;
    margin: auto;
}

#subscribe_form input[type="submit"]{margin: auto;
    width: 75%;
    margin-top: 15px;
}